/***button****/
a.uw-btn {
    z-index: 0;
}

.button {
    text-align: center;
    background-color: #048ac2;
    color: #ffffff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    padding: 10px 18px;
    font-weight: 600;
    border: none;
    font-size: 13px;
    text-indent: 0;
    overflow: hidden;
    display: inline-block;
    margin-bottom: 20px;
}

.button:hover {
    -webkit-transition: background-color 0.2s linear;
    -moz-transition: background-color 0.2s linear;
    -o-transition: background-color 0.2s linear;
    transition: background-color 0.2s linear;
    background-color: #025577;
    text-decoration: none;
    color: #f4f4f4;
}
a.btn-span:hover {
    background: #425d1f;
    text-decoration: none;
    color:#cccccc;
}

a.btn-ispan {
    background: #61882f;
    text-decoration: none;
    color: #ffffff;
}
a.btn-google-signin {
    background: url(assets/images/btn_google_signin_light_normal_web.png) no-repeat;
}

a.btn-google-signin:hover {
    background: url(assets/images/btn_google_signin_light_pressed_web191.png) no-repeat;
    width:191px;
    height:46px;
}

a.btn-google-signin {
    background: url(assets/images/btn_google_signin_light_normal_web.png) no-repeat;
    width: 191px;
    height: 46px;
}

a.btn-microsoft-signin:hover {
    background: url(assets/images/ms-symbollockup_signin_light191-pressed.png) no-repeat;
    width: 191px;
    height: 46px;
}

a.btn-microsoft-signin {
    background: url(assets/images/ms-symbollockup_signin_light191.png) no-repeat;
    width: 191px;
    height: 46px;
}