/*** Hero and titles***/
@media (max-width: 767px) {
    .uw-site-title-blank {
        font-size: 30px;
        padding-top: 0px;
        color: #4b2e83;
        margin-top: 5px;
    }
    .uw-hero-image.hero-blank h1.uw-site-title-blank {
        margin-top: 10px;
        margin-left: 15px;
        margin-right: 10px;
        clear: right;
    }
    .uw-body .uw-site-title {
      
        display: none;
    }
    .home .uw-body {
        background: #fff;
    }

    h1.no-title {
        text-indent: -9999px;
        background: #fff;
    }
    #mobile-relative.frontpage {
        margin-right: 20px;
    }

    .uw-body .uw-site-title {
        color: #4b2e83;
        font-size: 25px;
        line-height: 1.2;
        font-weight: 900;
        margin: -10px -18px 20px -20px;
        padding: 15px 20px 15px 20px;
        position: static;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    }
    .uw-breadcrumbs ul {
       
        margin-top: 10px;
    }
}

@media screen and (min-width: 768px) {
    .uw-site-title-blank {
        font-size: 33px;
    }
    h1.no-title {
        display: none;
    }

    h2.uw-site-title {
        display: none;
        font-size: 1px;
        line-height: 1px;
        margin: 0;
    }
    .uw-hero-image.hero-blank h1.uw-site-title-blank {
        margin-top: -10px;
    }
}

.home .uw-body {
    overflow: hidden;
    margin-bottom: 0;
}

.home #uw-container div#uw-container-inner {
    background-color: #FFFFFF
}

.uw-body h2.cdesecondtitle {
    font-size: 23px;
    font-weight: normal;
}

/*****Heros*****/
.uw-hero-image.hero-blank .uw-breadcrumbs {
    display: block;
    margin-top: 5px;
}


.hero-height2 {
    height: 175px;
}

.uw-hero-image, .uw-hero-image.hero-height2 {
    position: relative;
}

.uw-hero-image.hero-height2 h1 {
    display: block;
    position: relative;
}

@media only screen and (max-width: 767px) {
    .uw-hero-image.hero-height2 {
        padding: 5px;
        display: block;
        height: auto;
    }

    .uw-hero-image.hero-height2 h1 {
        font-size: 25px;
        margin-top: 20px;
    }
    .uw-hero-image.hero-height #hero-container h1 {
        padding: 0;
    }
 }

@media only screen and (min-width: 768px) {
    .uw-hero-image.hero-height2 h1 {
        font-size: 40px;
        margin-top: 10px;
    }   
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
    .uw-hero-image.hero-height #hero-container h1 {
        padding: 80px 20% 0 0;
    }
}
@media only screen and (min-width: 1200px) {
    .uw-hero-image.hero-height #hero-container h1 {
        padding: 180px 20% 0 0;
    }
}

/**** sidebar****/
@media only screen and (max-width: 767px) {
    #sidebar #desktop-relative {
        display: block;
    }
}

/***thinstrip - thinlinks*/
.uw-thinstrip {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.uw-thinstrip ul.uw-thin-links {
    margin: 0;
    position: relative;
    z-index: 1;
    font-weight: 600;
    padding: 0px;
}

.uw-thinstrip ul.uw-thin-links li {
    float: right;
    list-style: none;
}

.uw-thinstrip ul.uw-thin-links li:last-child a:after {
    display: none;
}

.uw-thinstrip ul.uw-thin-links li a {
    font-family: "Encode Sans Compressed", sans-serif;
    color: #fff;
    font-size: 17px;
    font-weight: 600;
    position: relative;
    float: right;
    padding: 8px 25px 10px 0;
    letter-spacing: .01em;
}

.uw-thinstrip ul.uw-thin-links li a:after {
    position: absolute;
    right: 6px;
    height: 32px;
    width: 12px;
    top: 7px;
    content: "";
    background: none;
}

.uw-thinstrip ul.uw-thin-links li a:hover,
.uw-thinstrip ul.uw-thin-links li a:focus {
    color: #b7a57a;
    text-decoration: underline;
}

.uw-thinstrip ul.uw-thin-links {
    min-width: 240px;
}

@media only screen and (min-width:768px) {
   .uw-thinstrip ul.uw-thin-links {
        min-width: 240px;
    }
    .uw-thinstrip .uw-wordmark {
        background: url(assets/svg/uw-sprite.svg) no-repeat 0 -412px transparent;
        height: 44px;
    }
}

@media only screen and (max-width: 767px) {
    .uw-thinstrip .uw-wordmark {
        width: 155px;
        height: 34px;
        background: url(assets/svg/uw-sprite.svg) no-repeat 0 -230px transparent;
        margin: 0;
        float: none;
        position: absolute;
        left: 78px;
        top: 4px;
        background-size: 497px;
    }
    
    .uw-thinstrip ul.uw-thin-links li {
        display: none;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {

    .uw-thinstrip ul.uw-thin-links:before {
        position: absolute;
        top: 0;
        height: 50px;
        width: 100%;
        content: "";
        background-color: #4b2e83;
    }

    .uw-thinstrip ul.uw-thin-links li a {
        font-size: 16px;
        padding: 10px 25px 10px 0;
        color: white;
    }

    .uw-thinstrip li {
        margin-top: 68px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .uw-thinstrip ul.uw-thin-links li a {
        font-size: 16px;
        padding: 10px 25px 10px 0;
    }
}

/***Footerr*/
.uw-footer .footer-wordmark {
    background-size: 620px;
}

.home .uw-footer {
    top: -10px;
}

.uw-footer .footer-wordmark {
    background: url(assets/svg/uw-sprite.svg) no-repeat 0 -412px transparent;
    height: 44px;
    width: 260px;
}

.uw-footer .footer-wordmark:focus,
.uw-footer .footer-wordmark:hover {
    background: url(assets/svg/uw-sprite-focus.svg) no-repeat 0 -411px transparent;
}